/* Deze container moet in de kleur #ffffff en moet 65% van het scherm in nemen, en in het midden gecentreerd zitten. Dit gaat over background color heen. */
.container-mid {
  background-color: #ffffff;
  width: 65%;
  margin: 0 auto;
  z-index: 1;
  height: 100vh;
  position: relative;
  top: 0;
  bottom: 0;
}

/* Dit is de titel die in de container-mid zit zijn, deze zit boveaan bij de pagina. Deze moet met de font Luckiest Guy. De kleur hiervan moet #2400FF zijn! */
.header {
  font-family: 'Luckiest Guy';
  color: #2400FF;
  text-align: center;
  font-size: 30px;
}

/* Deze line moet een 30px onder de document header zitten in midden, deze heeft een breedte van 55% hebben! De line moet 3px dik zijn! */
.line {
  margin-top: 0px;
  width: 85%;
  height: 3px;
  background-color: #252525;
}

/* Dit is de dikke tekst onder de horizontale lijn. Deze moet in de font Inter zijn, en font-style Bold hebben. Het moet in de kleur #000000 zijn. Deze tekst moet 11px groot zijn. Deze moet % in het midden gecentreerd zijn, en 75% van de pagina opnemen. */
.head-1, .head-2, .head-3, .head-4, .head-5, .head-6, .head-7, .head-8, .head-9, .head-10, .head-11, .head-12, .head-13, .head-14 {
  font-family: 'Inter';
  font-style: bold;
  color: #000000;
  font-size: 11px;
  text-align: center;
  width: 85%;
  margin: 0 auto;
  z-index: 2;
}

/* Dit is de body tekst, dit moet in de kleur #000000 zijn. Het moet ook in de font Inter zijn, met font-style Italic. De tekst hier moet 11px groot zijn. */
.body-1, .body-2, .body-3, .body-4, .body-5, .body-6, .body-7, .body-8, .body-9, .body-10, .body-11, .body-12, .body-13, .body-14 {
  font-family: 'Inter';
  font-style: italic;
  color: #000000;
  font-size: 11px;
  width: 85%;
  margin: 0 auto;
  z-index: 2;
}

/* Hiernaast moet de background color van de pagina #252525 zijn. Deze moet over de GEHELE pagina. */
body {
  background-color: #252525;
  height: 100vh;
  width: 100vw;
}

/* Om te voorkomen dat je van links naar rechts kan scrollen, hebben we de `overflow-x` van de body op `hidden` gezet. */
body {
  overflow-x: hidden;
}
