body {
  background-image: url('img/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}
  .RECTANGLE-11-61 {
    position: absolute;
    left: 810px;
    top: 146px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(217, 217, 217, 0.65);
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 300px;
    height: 58px;
    opacity: 1;
  }
  .RECTANGLE-11-62 {
    position: absolute;
    left: 810px;
    top: 246px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(217, 217, 217, 0.65);
  
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  
    width: 300px;
    height: 58px;
    opacity: 1;
  }
  .RECTANGLE-11-63 {
    position: absolute;
    left: 810px;
    top: 346px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(217, 217, 217, 0.65);
  
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  
    width: 300px;
    height: 58px;
    opacity: 1;
  }
  .RECTANGLE-11-64 {
    position: absolute;
    left: 810px;
    top: 446px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(217, 217, 217, 0.65);
  
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  
    width: 300px;
    height: 58px;
    opacity: 1;
  }
  .RECTANGLE-11-65 {
    position: absolute;
    left: 810px;
    top: 546px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(217, 217, 217, 0.65);
  
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  
    width: 300px;
    height: 58px;
    opacity: 1;
  }
  .RECTANGLE-11-66 {
    position: absolute;
    left: 810px;
    top: 646px;
    transform: rotate(0deg);
    transform-origin: center !important;
    background: rgba(217, 217, 217, 0.65);
  
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  
    width: 300px;
    height: 58px;
    opacity: 1;
  }

  .link-yt {
    color: #ffffff;
    position: absolute;
    left: 10px;
    font-family: Luckiest Guy;
    font-size: 20px;
  }

  .link-tt {
    color: #ffffff;
    position: absolute;
    left: 10px;
    font-family: Luckiest Guy;
    font: 20px;
  }

  .link-spotify {
    color: #ffffff;
    position: absolute;
    left: 10px;
  }

  .link-fb {
    color: #ffffff;
    position: absolute;
    left: 10px;
  }

  .link-dc {
    color: #ffffff;
    position: absolute;
    left: 10px;
  }

  .link-insta {
    color: #ffffff;
    position: absolute;
    left: 25px;
  }